modules = ["web", "nodejs-20", "vue-node-20", "java-graalvm22.3"]
run = "npm run serve"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run serve"]

[[ports]]
localPort = 8080
externalPort = 80
