modules = ["web", "nodejs-20", "vue-node-20", "java-graalvm22.3"]
run = "npm run serve"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run serve"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8087
externalPort = 3000

[[ports]]
localPort = 8088
externalPort = 3001

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41495080
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Frontend/estage && npm run serve"
